<%- include('../partials/header') %>
<ul>
  <% books.forEach(book => { %>
    <li onclick=<%= `window.location='books/book/${book.id}'` %> class="book-list">
      <div class="ranking">
        <img class="streams book-image" src=<%= book.imgUrl %> alt=<%= book.title %>/>
        <p class="rank title"><%= book.title %></p>
      </div>
      <div class="book-info">
        <div class="book-content">
          <p class='title'><%= `By: ${book.author}` %></p>
          <p class='genre'><%= book.type %></p>
          <p class='description'><%= book.description %></p>
        </div>
      </div>
    </li>
  <% }) %>
</ul>
<%- include('../partials/footer') %>
